@model IEnumerable<SeaMI.Models.Relatorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nmRelatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsRelatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtRelatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nmRelatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsRelatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtRelatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.dsNacionalidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cdRelatorio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cdRelatorio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cdRelatorio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
