@model SeaMI.Models.AprovacaoRelatorio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AprovacaoRelatorio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.dsArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fgAprovado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fgAprovado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsComentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtAprovacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtAprovacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cdAprovacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
