@model IEnumerable<SeaMI.Models.AprovacaoRelatorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fgAprovado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsComentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtAprovacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.dsArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fgAprovado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsComentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtAprovacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cdAprovacao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cdAprovacao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cdAprovacao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
