@model SeaMI.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login.dsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nmUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nmUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsNacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsNacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
