@model IEnumerable<SeaMI.Models.RelatorioAmostra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dsRelatorioAmostra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmostraAgua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relatorio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dsRelatorioAmostra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmostraAgua.cdAmostra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relatorio.cdRelatorio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cdRelatorioAmostra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cdRelatorioAmostra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cdRelatorioAmostra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
