@model IEnumerable<SeaMI.Models.Sensores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nmTecnologia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsSensor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtImplementacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.dsArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nmTecnologia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsSensor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtImplementacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cdSensor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cdSensor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cdSensor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
