@model SeaMI.Models.AmostraAgua

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AmostraAgua</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtColeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtColeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsPH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsPH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsPoluentesQuimicos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsPoluentesQuimicos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsNutrientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsNutrientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsConcentracaoPlastico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsConcentracaoPlastico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsOxigenioDissolvido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsOxigenioDissolvido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsTemperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsTemperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsTurbidez)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsTurbidez)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.dsNacionalidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="cdAmostra" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
